<h1>編輯</h1>

<%= form_for @wish_list ,url: wish_list_path ,method:"patch" do |f| %>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit %>
<% end %>