<h1>新增許願卡</h1>



<%= form_for @new_wish ,url:wish_lists_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %><br />
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %><br />
  </div>
 
  <%= f.submit "許願吧～" %>

<% end %>